@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
    font-family: 'Josefin Slab', serif;
}

/*--carousel_slide--*/

.carousel-item{
    font-family: 'Short Stack', cursive;
    height: 100vh;
    min-height: 300px;
    background: no-repeat center scroll;
    -webkit-background-size: cover ;
    background-size: cover;

}
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h4{
    font-size: 45px;
    text-transform:uppercase ;
    letter-spacing: 2px;
    margin-top: 5px;
    
}


/*--Navigation--*/

.navbar{

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgb(0, 0, 0,0.6)!important;
}

.navbar-brand img{
    
   height: 3rem;
   padding-left: 10vh;
}
.navbar-nav li{
    padding-right: .7rem;
    
}
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
    color:#fff;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    
}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#fff ;
    transition: width 0.3s;
}
.nav-link:hover::after{
    width: 100%;
    transition: width 0.3s;
}
.btn-lg{
    border-radius: 0rem;
    border-width: medium;

}
.padding{
    padding: 80px 0;
    
}
.padding img{
    width: 100%;
}
.parallax{
    height: 40vw;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.parallax h2{
    color: #fff;
    padding-bottom: 5vh;
}
.parallax p{
    color: #fff;
    font-size: 1.3vw;
}
.social a{
    font-size: 4.5rem;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}
footer{
    background-color: #f0f0f0;
    color: black;
    padding-top: 2rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;

}